* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "regular";
  src: url(/assets/fonts/regular-myauto.woff2);
}

@font-face {
  font-family: "medium";
  src: url(/assets/fonts/medium-myauto.woff2);
}

@font-face {
  font-family: "bold";
  src: url(/assets/fonts/bold-myauto.woff2);
}
:root {
  --main-orange: #fd3f00;
  --main-gray: #e5e7eb;
  --main-text: #272a37;
}
html {
  font-size: 10px;
}
body {
  background-color: #f2f3f6;
  font-family: "medium";
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
header {
  background-color: white;
}
nav {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-between;
  max-width: 1536px;
  align-items: center;
  padding: 20px 0px;
}
.navbar-right,
.navbar-left {
  display: flex;
  align-items: center;
}
.logo {
  height: 40px;
}
.logo img {
  width: 130px;
}
.searchbar {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 20px;
}
.searchbar img {
  position: absolute;
  left: 10px;
}
.searchbar label input {
  height: 40px;
  width: 300px;
  padding-left: 40px;
  border-radius: 12px;
  border: 1px solid var(--main-gray);
}
.searchbar label input::placeholder {
  font-size: 1.2rem;
}
.navbuttons {
  margin-left: 16px;
}
.navbuttons button {
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 12px;
}
.addnewBut button {
  background-color: #fd3f0020;
  padding: 0px 24px;
}
.addnewBut button a {
  margin-left: 8px;
  color: var(--main-orange);
  font-size: 1.2rem;
  font-family: "medium";
}
.addnewBut button img {
  width: 16px;
  padding-top: 2px;
}

.languageBut button {
  background-color: transparent;
  border: 1px solid var(--main-gray);
  padding: 0px 8px;
  position: relative;
}
.languageBut button a {
  margin-left: 8px;
  color: black;
  font-size: 1.4rem;
  font-family: "medium";
}
/* drop down */
.dropdown {
  position: relative;
}
.nav-dropdown-content {
  display: none;
  padding: 10px;
  position: absolute;
  background-color: white;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.show {
  display: block;
}

.dropnav {
  display: flex;
  flex-direction: column;
}
.dropnav p {
  font-size: 1.2rem;
  color: gray;
  padding-bottom: 10px;
}
.dropnav label {
  font-size: 1.4rem;
  padding-top: 10px;
}
.dropnav label span {
  padding-left: 15px;
}
.dropnav label input[type="radio"] {
  transform: scale(1.8);
}
.dropdown-currency {
  margin-top: 20px;
}

/* end of dropdown */
.loginBut button {
  background-color: transparent;
  border: 1px solid var(--main-gray);
  padding: 0px 8px;
}
.loginBut button a {
  margin-left: 8px;
  color: black;
  font-size: 1.4rem;
  font-family: "medium";
}
.tnetBut button {
  background-color: white;
  border-radius: 50%;
  border: 1px solid var(--main-gray);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tnetBut button img {
  height: 30px;
}
.categories {
  border-top: 1px solid var(--main-gray);
}
.cat-container {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-between;
  max-width: 1536px;
  align-items: center;
  padding: 20px 0px;
}
.cat-container ul li a {
  font-size: 1.4rem;
  color: var(--main-text);
}
.cat-cat li {
  display: inline-block;
  margin-right: 32px;
}
.cat-nav li {
  display: inline-block;
  margin-left: 12px;
}

/* MAIN */
.home-filter {
  width: 85%;
  display: flex;
  margin: 20px auto;
  background-color: white;
  border-radius: 16px;
  max-width: 1536px;
  flex-direction: column;
}
.filter-header {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--main-gray);
}
.filter-header-right,
.filter-header-left {
  display: flex;
  align-items: center;
  padding: 20px;
}
.filter-header-left span {
  font-size: 1.4rem;
}
.filter-header-sell {
  font-family: "bold";
}
.filter-header-rent {
  color: gray;
  font-family: "regular";
}
/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
  margin: 0px 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.filter-header-right span {
  color: gray;
  font-size: 1.4rem;
  padding-left: 10px;
  font-family: "regular";
}

.filters-main-content {
  display: flex;
  margin: auto;
  width: 100%;
}
.filter-car-type {
  padding: 35px 0px 20px 20px;
  border-right: 1px solid var(--main-gray);
}
.car-type {
  display: flex;
  align-items: center;
}
.spectech,
.moto {
  margin-top: 35px;
}
.car-type span {
  font-size: 1.4rem;
  padding-left: 15px;
  padding-right: 50px;
}
.car-type img {
  width: 24px;
}
.car {
  border-right: 4px solid var(--main-orange);
}
.car span {
  color: var(--main-orange);
}
.filters {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}
.filters-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.filter-box {
  width: 23%;
  margin-bottom: 20px;
}
.filter-box button {
  width: 100%;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--main-gray);
  background-color: transparent;
  transition: 500ms;
  height: 52px;
}
.filter-box button:hover {
  border: 1px solid black;
  transition: 500ms;
}
.filter-box button img {
  border-radius: 50%;
  transition: 500ms;
}
.filter-box button img:hover {
  background-color: var(--main-gray);
  transition: 500ms;
  overflow: hidden;
}
.filter-box button span {
  font-size: 1.4rem;
  font-family: "regular";
}
.ganbajeba span {
  font-size: 1.2rem !important;
  cursor: pointer;
}

.middle {
  width: 1px;
  height: 25px;
  background-color: var(--main-gray);
}

.filter-row-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-row-box-left {
  display: flex;
  align-items: center;
}
.switch-blue {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
  margin-right: 10px;
}

.switch-blue input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-blue {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-gray);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider-blue:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider-blue {
  background-color: rgb(5, 234, 5);
}

input:focus + .slider-blue {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider-blue:before {
  -webkit-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
}

/* Rounded sliders */
.slider-blue.round {
  border-radius: 34px;
}

.slider-blue.round:before {
  border-radius: 50%;
}
.frbl {
  display: flex;
  align-items: center;
  padding-right: 30px;
}
.frbl p {
  font-size: 1.2rem;
  font-family: regular;
}
.frbl p span {
  color: black;
  font-family: "medium";
}
.frbl img {
  height: 30px;
  padding-right: 10px;
}
.filter-row-box-right {
  width: 23%;
}
.filter-row-box-right button {
  width: 100%;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  background-color: var(--main-orange);
  transition: 500ms;
  height: 52px;
  color: white;
  font-size: 1.4rem;
}
.filter-row-box-right button:hover {
  background-color: #d93600;
  transition: 500ms;
}
.car-brands {
  display: flex;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
.brand {
  width: 54px;
  height: 40px;
  border: 1px solid var(--main-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin: 4px;
  position: relative;
}
.brand span {
  position: absolute;
  top: 45px;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 8px;
  z-index: 1;
  display: none;
}
.brand:hover {
  border: 1px solid black;
}
.brand:hover > .brand-desc {
  display: block;
}

.brand img {
  width: 34px;
  height: auto;
}
.car-brands-list {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}
.car-brands-list label {
  padding-top: 15px;
  display: flex;
  align-items: center;
}
.car-brands-list label span {
  font-size: 1.4rem;
  padding-left: 15px;
  font-family: "regular";
}
.car-brands-list input[type="checkbox"] {
  transform: scale(1.8);
}

/* drop down */
.dropdown {
  position: relative;
}
.filter-dropdown-content {
  display: none;
  padding: 10px;
  position: absolute;
  background-color: white;
  border: 1px solid var(--main-gray);
  border-radius: 10px;
  min-width: 160px;
  max-width: 360px;
  max-height: 380px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.show {
  display: block;
}

.dropnav {
  display: flex;
  flex-direction: column;
}
.dropnav p {
  font-size: 1.2rem;
  color: gray;
  padding-bottom: 10px;
}
.dropnav label {
  font-size: 1.4rem;
}
.dropdown-currency {
  margin-top: 20px;
}
.filter-box button input {
  width: 100%;
  height: 100%;
  border: none;
}
/* SUPER VIP */
.super-vip-promotion {
  width: 85%;
  margin: auto;
  padding-top: 20px;
}
.promotion-header {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.promotion-header-left {
  display: flex;
  align-items: center;
}
.promotion-header-left img {
  background-color: var(--main-orange);
  padding: 10px;
  border-radius: 10px;
}
.promotion-header-left span {
  font-size: 2.4rem;
  font-family: "bold";
  padding-left: 10px;
}
.promotion-header-right button {
  width: 34px;
  height: 34px;
  border-radius: 50%;

  background-color: transparent;
}
.sliderLeft {
  border: 2px solid gray;
  margin-right: 10px;
}
.sliderRight {
  border: 2px solid black;
}
.car-container-row {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 20px;
}
.car-container {
  width: 19%;
  height: auto;
  background-color: white;
  border-radius: 16px;
}
.car-container-img {
  width: 100%;
  height: 175px;
  object-fit: contain;
}
.car-container-img img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.car-container-text {
  padding: 25px 15px;
}
.car-location span {
  color: gray;
  font-size: 1.2rem;
  font-family: "regular";
}
.car-container-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.car-container-name span {
  font-size: 1.6rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.car-price span {
  font-size: 1.6rem;
}
.car-type {
  margin-top: 20px;
  border-top: 1px solid var(--main-gray);
}
.car-type span {
  font-size: 1.2rem;
  background-color: var(--main-gray);
  padding: 5px 15px;
  margin-right: 10px;
  border-radius: 12px;
  margin-top: 10px;
}
.noPrice {
  font-family: "medium" !important;
  font-size: 1.2rem !important;
}
